<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
    <h3>Edit form for <%=listing._id%></h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title"
             value="<%=listing.title%>" 
             type="text"
             class="form-control">
        </div>
        
        <div>
            <label for="description" class="form-label">description</label>
            <textarea 
            name="description"
            class="form-control">
            <%=listing.description%>
        </textarea>
        </div>


        <div>
            <label for="image" class="form-label">Image</label>
            <input name="image"
             value="<%=listing.image%>" 
             type="text"
             class="form-control">
        </div>
        
        <div>
            <label for="price" class="form-label">price</label>
            <input name="price" 
            value="<%=listing.price%>" 
            type="number" 
            class="form-control">
        
        </div>

        <div>
            <label for="country" class="form-label">country</label>
            <input name="country"
             value="<%=listing.country%>" 
             type="text"
             class="form-control">
        </div>


        <div>
            <label for="location" class="form-label">location</label>
            <input name="location" 
            value="<%=listing.location%>" 
            type="text"
            class="form-control">
            </div>

        <button type="submit">Edit</button>
    </form>
</body>
</html>